#container {
  margin: 0 auto;
  width: 100%;
  background: #fff;
}

#header {
  background: #ccc;
  padding: 20px;
}

#header h1 {
  margin: 0;
}

#navigation {
  float: left;
  width: 100%;
  background: #333;
}

#navigation ul {
  margin: 0;
  padding: 0;
}

#navigation ul li {
  list-style-type: none;
  display: inline;
}

#navigation li a {
  display: block;
  float: left;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid #fff;
}

#navigation li a:hover {
  background: #383;
}

#content-container {
  float: left;
  width: 100%;
  background: #FFF;
}

#content {
  clear: left;
  float: left;
  width: 60%;
  padding: 20px 0;
  margin: 0 0 0 4%;
  display: inline;
}

#content h2 {
  margin: 0;
}

#aside {
  float: right;
  width: 33%;
  padding: 20px 0;
  margin: 0 3% 0 0;
  display: inline;
}

#aside h3 {
  margin: 0;
}

#footer {
  clear: left;
  background: #ccc;
  text-align: right;
  padding: 20px;
  height: 1%;
}

@media only print {
  #header,
  #navigation,
  #footer {
    display: none;
  }

  #content-container {
    flex-direction: column;
    float: none;
    display: flex;
  }

  #content {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  #aside {
    display: none;
    float: none;
  }

  body {
    margin: 0;
  }

  img {
    max-width: 100%;
  }

  #content {
    width: 90%;
    margin: 0;
  }

  #content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #header {
    position: fixed;
    width: 100%;
    padding: 0;
  }

  #header h1 {
    margin: 20px;
  }

  #navigation {
    margin-top: 85px;
    width: 95%;
  }

  #navigation ul {
    display: flex;
    flex-direction: column;
  }

  #navigation ul li a {
    border: 0;
    float: none;
  }

  #footer {
    padding: 0;
    width: 100%;
  }

  #footer p {
    margin: 20px;
  }

}