div:hover {
  margin: 3px;
  border: 3px solid black;
  padding-left: 5px;
}

div:first-of-type:hover {
  background: yellow;
}

div:nth-of-type(2):hover {
  background: green;
}

div:nth-of-type(3):hover {
  background: gray;
}

div:nth-of-type(4):hover {
  background: navy;
}

div:last-of-type:hover {
  background: pink;
}

h3 {
  font-family: monospace;
}

div:nth-of-type(1) h3 {
  font-style: italic;
}

div:nth-of-type(3) h3 {
  font-size: 150%;
  font-style: italic;
}

div:nth-of-type(5) h3 {
  font-style: italic;
}